*.iml
*.idea/**/*
*.idea
.idea/*
.gradle/**/*
.gradle/*
out/**/*
out/*
build/**/*
build/*
gen/*
*/bin/*
*.class
*.iws
*.ipr
*/.idea/**
*/.idea/**/**
*/.gradle/**
*/out/**
*/build/**
*/*.iml
*/gen/*
*/bin/**
*/*.class
*.iws
*.ipr
*/R.java
gen/
classes/
bin/
*.log
*/*/proguard_logs/**
/private_test
*.exe
/log
/out
/data
/bloomfilter.bin
/bin
/src/github.com
/pkg
/pkg/*
/cluster
.DS_Store
/bin-run/
/leveldb
/dist
gopa
gopa.exe
